* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  background-color: #f0f0f0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #333;
}

h1 {
  font-size: 38px;
  color: #000;
}

a  {color: #03c}
a:hover {
  background-color: #03c;
  color: white;
  text-decoration: none;
}


#page {
  background-color: #f0f0f0;
  width: 90%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

#content {
  float: left;
  background-color: white;
  border: 3px solid #aaa;
  border-top: none;
  padding: 25px;
  width: 70%;
}

#sidebar {
  float: right;
  width: 20%;
}

#footer {
  clear: both;
}


#header, #about, #getting-started {
  padding-left: 75px;
  padding-right: 30px;
}


#header {
  background-image: url("/assets/conductor/rails.png");
  background-repeat: no-repeat;
  background-position: top left;
  height: 64px;
}
#header h1, #header h2 {margin: 0}
#header h2 {
  color: #888;
  font-weight: normal;
  font-size: 16px;
}


#meat {
  border-top: 1px solid #ccc;
  margin-top: 25px;
  padding-top: 15px;
}
#meat h1 {
  margin: 0;
  font-size: 20px;
}
#meat h2 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  margin-bottom: 25px;
}

#sidebar ul {
  margin-left: 0;
  padding-left: 0;
}
#sidebar ul h3 {
  margin-top: 25px;
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
#sidebar li {
  list-style-type: none;
}
#sidebar ul.links li {
  margin-bottom: 5px;
}

tr.statistic th {
  text-align: left;
}

tr.statistic th {
  text-align: left;
}

tr.statistic td {
  text-align: right;
}

.filesUl
{
  list-style-type: none;
  margin:0px;
  padding: 0px;
}
.folderLi
{

  height: 17px;
  font-weight: bolder;
}
.folderLi:hover
{
  background-color: #656EAD;
}
.folderLi, .fileLi
{
  border-bottom: 1px solid #8DA4C5;
  padding-left: 15px;
  list-style-type: none;
}
.files_link
{
  text-decoration: none;
}
.fileLi:hover
{
  background-color:#656EAD;
}
#location_track
{
  font-size: 20px;
 border-bottom: 1px solid #496C80;
margin-bottom: 10px;
text-decoration: none
 }
#codeArea
{width: 500px;
min-height: 500px;
overflow: auto;
}
#codeAreaWrapper
{border: 1px solid black;
background-color: #F5F4F3;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 0 4px 8px #eee inset;
  -moz-box-shadow: 0 4px 8px #eee inset;
  -webkit-box-shadow: 0 4px 8px #eee inset;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.file_submit{height:30px;width: 70px; margin: 4px; font-weight: bold; padding: 5px; float: right;}
/* highlight styles */
      .ldt .comment { color: silver; }
      .ldt .string { color: green; }
      .ldt .number { color: navy; }
      /* setting inline-block and margin to avoid misalignment bug in windows */
      .ldt .keyword { font-weight: bold; display: inline-block; margin-bottom: -1px; color:pink;}
      .ldt .variable { color: cyan; }
      .ldt .define { color: blue; }
      /*setting height of ldt */
      .ldt.input {min-height:500px; overflow: auto;}